/* general style stuff */
body {
  font-family:sans-serif;
}
button {
  width:10em;
}
/* game style stuff */
#game {
  position:relative;
}

#world {
  background-color:yellow;
  position:relative;
}
.on {
  background-color:#9BB024;
  position:absolute;
}
.on:hover {
  background-color:#B5CA3B;
  cursor:pointer;
}

.off {
  background-color:#CCCCCC;
  position:absolute;
}
.off:hover {
  background-color:#DDDDDD;
  cursor:pointer;
}
