#game {
  border:black 1px solid;
  position:relative;
}

#world {
  background-color:yellow;
  position:relative;
}
.on {
  background-color:red;
  position:absolute;
}

.off {
  background-color:gray;
  position:absolute;
}
