/* 
 * CSS reset from
 * http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
 * general style stuff 
 * 
*/
body {
  font-family:sans-serif;
}
button {
  width:100px;
}
/**
 * for elements that act as links
*/
.link {
  cursor:pointer;
}
.link:hover {
  text-decoration:underline;
}
header {
  color:white;
  font-size:1.9em;
  width:100%;
  position:fixed;
  height:30px;
  background-color:#729FCF;
  box-shadow:0 0 5px #333333;
	z-index:1;
}
#modal {
  position:fixed;
  top:30px;
  left:50%;
  background-color:#729FCF;
  border:1px solid #3D77CB;
  border-radius:0 0 8px 8px;
  box-shadow:3px 3px 3px #333333;
  display:none;
}
#modal .title {
  text-align:center;
  font-weight:bold;
  width:100%;
  background-color:#DDDDDD;
  height:25px
}
#modal .close-button {
  position:absolute;
  right:0;
  background-color:#EF2929;
  color:#DD7777;
  height:25px;
  width:25px;
}
#modal .body {
  padding:10px;
  color:white;
}

/* game style stuff */
#frame {
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
}
/* #messages { */
.message {
  padding: 4px;
  margin: 4px 0;
  min-height: 3px;
  border-radius: 4px;
  transition: height 1s;
  -webkit-transition: height 1s;
}
.empty {
  border: 1px solid black;
  height: 5px;
}
.notice {
  border: 1px solid green;
  background-color: #eeffee;
}
.warning {
  border: 1px solid red;
  background-color: #ffeeee;
  height: 20px;
}

#login {
  position:absolute;
  right: 0;
  top: 0;
  cursor:pointer;
  padding:1px 10px;
  background-color:#555753;
}

/* 
 * game grid style stuff
 */
#game {
  position:relative;
}

#world {
  position:relative;
}
.container {
 position:absolute;
}
.block {
  border-radius:15%;
  width:80%;
  height:80%;
  margin:auto;
  cursor:pointer;
}
.on {
  background-color:#9BB024;
}
.on:hover {
  background-color:#B5CA3B;
}

.off {
  background-color:#CCCCCC;
}
.off:hover {
  background-color:#DDDDDD;
}
