/* general style stuff */
body {
  font-family:sans-serif;
}
button {
  width:100px;
}

/* game style stuff */
#messages {
  border-radius: 4px;
  padding: 4px;
  min-height: 5px;
  transition: height 1s;
  -webkit-transition: height 1s;
}
.empty {
  border: 1px solid black;
  height: 5px;
}
.notice {
  border: 1px solid green;
  background-color: #eeffee;
}
.warning {
  border: 1px solid red;
  background-color: #ffeeee;
  height: 20px;
}

#game {
  position:relative;
}

#world {
  background-color:yellow;
  position:relative;
}
.on {
  background-color:#9BB024;
  position:absolute;
}
.on:hover {
  background-color:#B5CA3B;
  cursor:pointer;
}

.off {
  background-color:#CCCCCC;
  position:absolute;
}
.off:hover {
  background-color:#DDDDDD;
  cursor:pointer;
}
